@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

header {
  position: relative;
  z-index: 3;
}

li {
  list-style-type: none;
}

.Footer {
  padding: 20px;
  background-color: #252934;
  color: rgba(255, 255, 255, 0.336);
}

.Footer .namefooter {
  color: rgba(1, 182, 234, 0.5);
  font-size: 1.1rem;
}

#Totop {
  position: fixed;
  bottom: 80px;
  right: 10px;
  background-color: #E31B6D;
  padding: 5px;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#Totop:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.PageTitle {
  padding: 80px 6%;
  background-color: #01b6ea;
  color: #eff1ed;
  font-weight: bold;
  font-size: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PageTitle .lineTitle {
  text-align: center;
  margin-right: 30px;
}

.PageTitle .lineTitle .fullcol {
  background-color: transparent;
  width: 10px;
  border-radius: 3px;
}

.PageTitle .lineTitle .upperPart {
  padding-left: 20px;
}

.PageTitle .lineTitle .lowerPart {
  padding-left: 20px;
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgba(239, 241, 237, 0.8);
}

.Underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.Underline span {
  height: 3px;
  width: 60px;
  background-color: #01b6ea;
}

.Preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  background: #0E1E25;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader.complete:before {
  left: -50%;
}

.Preloader:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #0E1E25;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader.complete:after {
  right: -50%;
}

.Preloader.complete {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 100;
}

.box .b {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotateMe 2s infinite;
          animation: rotateMe 2s infinite;
}

.box .b1 {
  border-left: 4px solid white !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid white !important;
  border-bottom: 4px solid transparent !important;
  width: 80px;
  height: 80px;
}

.box .b2 {
  border-left: 4px solid #01b6ea !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid #01b6ea !important;
  border-bottom: 4px solid transparent !important;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.box .b3 {
  border-left: 4px solid white !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid white !important;
  border-bottom: 4px solid transparent !important;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.box .b4 {
  border-left: 4px solid #01b6ea !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid #01b6ea !important;
  border-bottom: 4px solid transparent !important;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.logo {
  text-align: center;
  padding: 0 5vw;
}

.logo img {
  width: 90px;
  height: 90px;
  opacity: 0.7;
}

@-webkit-keyframes rotateMe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
            transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes rotateMe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
            transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media screen and (max-width: 399px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 3px 0px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  z-index: 5;
  -webkit-box-shadow: 0 0 0 rgba(1, 182, 234, 0.4);
          box-shadow: 0 0 0 rgba(1, 182, 234, 0.4);
}

.menu-btn:hover {
  -webkit-animation: none;
          animation: none;
}

.menu-btn:hover .btn-line {
  background-color: #eff1ed;
}

.menu-btn .btn-line {
  width: 26px;
  height: 3px;
  background-color: #eff1ed;
  margin: 3.5px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
  z-index: 4;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #101216;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  text-align: center;
  background: #21242e;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 200px;
  height: 200px;
  background-image: url("../imgs/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #01b6ea;
  font-weight: bold;
}

.menu .nav-link {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu .nav-link:hover {
  color: #01b6ea;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  header .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header .menu-branding {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 30vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  header .menu-branding .portrait {
    width: 130px;
    height: 130px;
  }
  header .menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  header .menu-nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 70vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  header .menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  header .menu-nav .nav-link {
    font-size: 1.4rem;
  }
  .PageTitle {
    background-color: #01b6ea;
    color: #eff1ed;
    font-weight: bold;
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1367px) {
  .menu-branding .portrait {
    width: 350px;
    height: 350px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

header {
  position: relative;
  z-index: 3;
}

li {
  list-style-type: none;
}

.Footer {
  padding: 20px;
  background-color: #252934;
  color: rgba(255, 255, 255, 0.336);
}

.Footer .namefooter {
  color: rgba(1, 182, 234, 0.5);
  font-size: 1.1rem;
}

#Totop {
  position: fixed;
  bottom: 80px;
  right: 10px;
  background-color: #E31B6D;
  padding: 5px;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#Totop:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.PageTitle {
  padding: 80px 6%;
  background-color: #01b6ea;
  color: #eff1ed;
  font-weight: bold;
  font-size: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PageTitle .lineTitle {
  text-align: center;
  margin-right: 30px;
}

.PageTitle .lineTitle .fullcol {
  background-color: transparent;
  width: 10px;
  border-radius: 3px;
}

.PageTitle .lineTitle .upperPart {
  padding-left: 20px;
}

.PageTitle .lineTitle .lowerPart {
  padding-left: 20px;
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgba(239, 241, 237, 0.8);
}

.Underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.Underline span {
  height: 3px;
  width: 60px;
  background-color: #01b6ea;
}

.Preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  background: #0E1E25;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader.complete:before {
  left: -50%;
}

.Preloader:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #0E1E25;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader.complete:after {
  right: -50%;
}

.Preloader.complete {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 100;
}

.box .b {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotateMe 2s infinite;
          animation: rotateMe 2s infinite;
}

.box .b1 {
  border-left: 4px solid white !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid white !important;
  border-bottom: 4px solid transparent !important;
  width: 80px;
  height: 80px;
}

.box .b2 {
  border-left: 4px solid #01b6ea !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid #01b6ea !important;
  border-bottom: 4px solid transparent !important;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.box .b3 {
  border-left: 4px solid white !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid white !important;
  border-bottom: 4px solid transparent !important;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.box .b4 {
  border-left: 4px solid #01b6ea !important;
  border-top: 4px solid transparent !important;
  border-right: 4px solid #01b6ea !important;
  border-bottom: 4px solid transparent !important;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.logo {
  text-align: center;
  padding: 0 5vw;
}

.logo img {
  width: 90px;
  height: 90px;
  opacity: 0.7;
}

@keyframes rotateMe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
            transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media screen and (max-width: 399px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 3px 0px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  z-index: 5;
  -webkit-box-shadow: 0 0 0 rgba(1, 182, 234, 0.4);
          box-shadow: 0 0 0 rgba(1, 182, 234, 0.4);
}

.menu-btn:hover {
  -webkit-animation: none;
          animation: none;
}

.menu-btn:hover .btn-line {
  background-color: #eff1ed;
}

.menu-btn .btn-line {
  width: 26px;
  height: 3px;
  background-color: #eff1ed;
  margin: 3.5px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
  z-index: 4;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #101216;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  text-align: center;
  background: #21242e;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 200px;
  height: 200px;
  background-image: url("../imgs/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #01b6ea;
  font-weight: bold;
}

.menu .nav-link {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu .nav-link:hover {
  color: #01b6ea;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  header .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header .menu-branding {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 30vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  header .menu-branding .portrait {
    width: 130px;
    height: 130px;
  }
  header .menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  header .menu-nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 70vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  header .menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  header .menu-nav .nav-link {
    font-size: 1.4rem;
  }
  .PageTitle {
    background-color: #01b6ea;
    color: #eff1ed;
    font-weight: bold;
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1367px) {
  .menu-branding .portrait {
    width: 350px;
    height: 350px;
  }
}

#My-name {
  font-weight: bold;
  color: #01b6ea;
}

#particles-js {
  background-image: url("../imgs/HomeBackground2.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.layer {
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.centered-text {
  color: #eff1ed;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.lg-heading {
  font-size: 2.4rem;
}

.sm-heading {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.icons {
  font-size: 1rem;
}

.icons a {
  margin: 0.3rem;
}

.icons a:hover {
  color: #e9488a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn {
  display: inline-block;
  position: relative;
  border: 2px solid #eff1ed;
  color: #eff1ed;
  background-color: transparent;
  border-radius: 10px;
  margin: 20px;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn::before {
  background: #01b6ea;
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover::before {
  height: 360%;
}

.menu-Indicator {
  color: #20cdfe;
  position: absolute;
  right: 9px;
  top: 30px;
  font-size: 25px;
}

.menu-Indicator-2 {
  top: 33px;
}

[class$="close"] .menu-Indicator {
  display: none;
}

* {
  border: 0 !important;
}

header {
  z-index: 4;
}

.menu-btn {
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn .btn-line {
  background-color: #eff1ed;
}

.ProjectsContainer {
  margin: 50px 0;
}

.ProjectsContainer .ProjectRow, .ProjectsContainer .ProjectRow-odd {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr;
      grid-template-columns: 4fr 4fr;
  grid-gap: 20px;
}

.ProjectsContainer .ProjectRow .Project-Preview, .ProjectsContainer .ProjectRow-odd .Project-Preview {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: preview;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.ProjectsContainer .ProjectRow .Project-Preview img, .ProjectsContainer .ProjectRow-odd .Project-Preview img {
  width: 100%;
  border-radius: 5px;
}

.ProjectsContainer .ProjectRow .Project-Description, .ProjectsContainer .ProjectRow-odd .Project-Description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}

.ProjectsContainer .ProjectRow-odd {
      grid-template-areas: 'desc preview';
}

.ProjectsContainer .ProjectRow {
      grid-template-areas: 'preview desc';
}

@media screen and (max-width: 768px) {
  .ProjectsContainer .ProjectRow, .ProjectsContainer .ProjectRow-odd {
    padding-bottom: 0;
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
        grid-template-areas: 'preview' 'desc';
  }
  .PageTitle {
    background-color: #01b6ea;
    color: #eff1ed;
    font-weight: bold;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 500px) {
  .Project-btn {
    display: block;
    font-size: 14px !important;
  }
  .Footer {
    font-size: 1.2rem;
  }
  .Footer .namefooter {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1367px) {
  .ProjectsContainer .ProjectRow .Project-Description, .ProjectsContainer .ProjectRow-odd .Project-Description {
    padding: 0 40px;
  }
}

.Project-btn {
  border: 2px solid #01b6ea !important;
  color: #01b6ea;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px 15px;
  margin: 20px 6px;
  font-weight: normal;
}

.Project-btn i {
  position: relative;
  left: -5px;
}

.Project-btn:hover {
  color: white;
}

.code-btn {
  border: 2px solid #E31B6D !important;
  color: #E31B6D;
}

.code-btn::before {
  background: #E31B6D;
}

.third-btn {
  border: 2px solid #F0AD4E !important;
  color: #F0AD4E;
}

.third-btn::before {
  background: #F0AD4E;
}

.Project-title {
  border-bottom: 2px solid #01b6ea !important;
  width: 120px;
  text-align: center;
  padding: 4px 10px;
  margin-bottom: 30px;
  color: #01b6ea;
}

.Project-tech {
  font-weight: bold;
  margin: 10px 0 0 0;
  color: #332d2d;
}

@media screen and (min-width: 769px) and (max-width: 858px) {
  .Project-btn {
    font-size: 13px;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
  }
}
/*# sourceMappingURL=project.css.map */